<div class="main">
  <h1>My To Do List</h1>
  <label for="addItemInput">What would you like to do today?</label>

<input
  #newItem
  placeholder="add an item"
  (keyup.enter)="addItem(newItem.value); newItem.value = ''"
  class="lg-text-input"
  id="addItemInput" />

<button class="btn-primary" (click)="addItem(newItem.value)">Add</button>

<h2>
  {{items.length}}
  <span *ngIf="items.length === 1; else elseBlock">item</span>
  <ng-template #elseBlock>items</ng-template>
</h2>

<ul style="list-style: none; ">
  <li *ngFor="let i of items"  style="border-bottom: 3px solid black;display: flex; gap: 30px">
    <app-item (remove)="remove(i)" [item]="i"></app-item>
  </li>
</ul>
</div>