<div class="addItemWrapper">
<div class="addItem">
  <mat-form-field hintLabel="Min 5 characters">
  <mat-label>What would you like to do today?</mat-label>
  <input
    matInput
    #newItem
    (keyup.enter)="addItem(newItem.value); newItem.value = ''" />
    <mat-hint align="end">{{newItem.value.length}} characters</mat-hint>
  </mat-form-field>
  <button mat-raised-button class="btn-primary" (click)="addItem(newItem.value); newItem.value = ''">Add</button>
</div>
<span *ngIf="!valid">Please enter 5 or more characters</span>
</div>